.header-container {
    height:700px;
    position: relative;
    background-image: url(../../../images/chairBg.png);
    background-size: cover;
}
.header-container::after, .header-container::before {
    height:600px;
    content:' ';
    position: absolute;
    top: 0;
    width: 27%;
    right: 0;
    background-color: rgba(58, 66, 86, 255);
    z-index: -10;
}